.idea/

.pytest_cache

**/__pycache__

**/.DS_Store

dist/

.python-version

*.tex
*.png
*.pdf

docs/html
docs/_build
docs/.generated
docs/efficacy/.generated
docs/bias/.generated
docs/explainability/.generated

mlruns/
mlartifacts/
