.idea/

.pytest_cache

**/__pycache__

**/.DS_Store

dist/

.python-version

*.tex
*.png
*.pdf

docs/html
docs/_build
docs/.generated
docs/source/.generated
docs/efficacy/.generated
docs/source/bias/.generated
docs/source/metrics/.generated
**/.generated/
.generated/
docs/source/explainability/.generated
docs/source/gallery/tutorials/*/

mlruns/
mlartifacts/
docs/build

.vscode
.ruff_cache
.pytest_cache
docs/**/*.ipynb