[tool.commitizen]
version = "0.1.0"
changelog_incremental = true
version_files = [
    "pyproject.toml:version"
]

[tool.poetry]
name = "holisticai"
version = "0.1.0"
description = ""
authors = ["GBadila <gabriel.badila@holisticai.com>"]

[tool.poetry.dependencies]
python = "^3.9"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
pre-commit = "^3.0.0"
commitizen = "^2.40.0"
flake8 = "^6.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
