[tool.commitizen]
version = "0.7.4"
changelog_incremental = true
version_files = [
    "pyproject.toml:version"
]

[tool.poetry]
name = "holisticai"
version = "0.7.4"
description = "Holistic AI Library"
authors = ["Research Team"]
maintainers = ["Research Team <researchteam@holisticai.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8,<4.0.0"
scikit-learn = ">=1.0.2"

tqdm = {version=">=4.64.1",  optional = true}
cvxpy = {extras=["cbc"], version=">1.3.0",  optional = true}
cvxopt = {version=">=1.3.0",  optional = true}
seaborn = {version=">=0.11.2",  optional = true}
networkx = {version=">=3.1",  optional = true}
lime = {version=">=0.2.0.1",  optional = true}
shap = {version=">=0.42.1",  optional = true}

[tool.poetry.extras]
bias = ["tqdm", "cvxpy", "cvxopt", "seaborn", "networkx"]
explainability = ["lime", "shap", "pydotplus", "dtreeviz"]
all = ["tqdm", "cvxpy", "cvxopt", "seaborn", "networkx", "lime", "shap", "pydotplus", "dtreeviz"]

[tool.poetry.group.dev.dependencies]
flake8 = "^5.0.4"
pre-commit = "^2.20.0"
pytest = "^7.1.3"
commitizen = "^2.40.0"
lime = "^0.2.0.1"
shap = "^0.42.1"
ipykernel = "^6.25.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
