sphinx
pydata-sphinx-theme
myst_parser
nbsphinx
sphinx_copybutton
sphinx_design
sphinx_togglebutton
sphinxcontrib.youtube
jupyter
pandas
numpy==1.26
pybind11>=2.12
cvxpy
pydantic
jax
jaxopt
optax
flax