name: Test and Lint feature/bugfix branches

on:
  push:
    branches:
      - 'feature/*'
      - 'bugfix/*'
    paths-ignore:
        - '**.md'

  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.7

      - name: Set up Python
        uses: actions/setup-python@v5.1.1
        with:
          python-version: "3.9"
          cache: "pip"
      
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip 
            pip install hatch

      - name: Lint and Format
        run: hatch fmt --check

      - name: Run tests
        run: hatch run testing:run