name: Feature Branch CI

on:
  push:
    branches:
      - 'feature/*'
      - 'bugfix/*'
    paths-ignore:
        - '**.md'

  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          cache: "pip"
      
      - name: Install dependencies
        run: |
            mkdir -p .mypy_cache
            python -m pip install --upgrade pip 
            pip install hatch

      - name: lint and format
        run: hatch fmt --check

      - name: check types
        run: hatch run types:check

      - name: run tests
        run: hatch run testing:run